@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

$bg-color-orange: rgba(250, 105, 0, 0.4);
$bg-color-blue: rgba(105, 210, 231, 0.7);
$text-color: #212529;
$orange-underline: rgba(250, 105, 0, 0.7);
$linkedin-color: #0077B5;

$bg-img: "https://images.unsplash.com/photo-1467745695289-307cecbc3bf1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4b11fb5d44cdcb7f9bfa22f0cee7dd61&auto=format&fit=crop&w=1100&q=80";
