// Variables

$bg-color-orange: rgba(250, 105, 0, 0.4);
$bg-color-blue: rgba(105, 210, 231, 0.7);
$text-color: #212529;
$orange-underline: rgba(250, 105, 0, 0.7);
$linkedin-color: #0077B5;

$bg-img: "";
