@import "variables";

body {
  font-family: 'Permanent Marker', cursive;
}

.container {
  margin-top: 2rem;
  width: 70%;
  max-width: 600px;
}

.jumbotron {
  padding-bottom: 2rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

.avatar {
  margin-bottom: 2rem;
  width: 160px;
  height: 160px;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
  &:hover {
    opacity: 0.85;
    transform: scale(1.05);
  }
}

.information {
  h1 {
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
  }

  span {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
}

.content {
  h3 {
    font-size: 25px;
    text-decoration: underline $orange-underline;
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 0;
    li {
      font-size: 16px;
      list-style: none;
      a {
        box-shadow: inset 0 -4px 0 0 $orange-underline;
        color: $text-color;
        text-decoration: none;
        transition: 0.5s;
        &:hover {
          box-shadow: inset 0 -22px 0 0 $orange-underline;
          color: $text-color;
          text-decoration: none;
        }
      }
    }
  }
}

.social {

  .icon {
    font-size: 50px;
    transition: 0.15s;
    &:hover {
      transform: scale(1.15);
      opacity: 0.83;
    }
  }

  .fa-linkedin-in {
    color: $linkedin-color;
  }

  .fa-github {
    color: black;
  }

  .fa-file-pdf {
    color: $orange-underline;
  }
}
